.App {
  display: flex;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 2rem;
  left: 5rem;
}

.container {
  padding: 3rem;
  width: 600px;
  height: 750px;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  flex-direction: column;
}
