body {
  margin: 0;
  /* font-family: 'Just Another Hand',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p {
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
}

body li {
  font-family: 'Inconsolata', monospace, 'Just Another Hand', sans-serif;
  font-size: 0.9rem;
  /* letter-spacing: 1px; */
}

body h1, h2, h3, h4, h5 {
  font-family: 'Koulen', sans-serif;
  letter-spacing: 0.5rem;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("./img/wine-background-postit.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 300px;
  width: 80px;
}
