.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto auto auto -0.5rem;
}

.navbar p {
    width: 100px;
    font-size: 0.8rem;
}

.navbar a {
    display: inline-block;
    line-height: 0.2rem;
    overflow: hidden;
    height: 20px;
}