.selected-wine {
    display: flex;
  width: 600px;
  height: 750px;
  flex-direction: column;
  display: inline;
}

.return-link {
    color: rgb(166, 30, 30);
    text-decoration: underline;
}

/* .wine-title-header {
    margin: auto;
} */

.wine-info-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wine-info-price h2 {
    margin: auto 5rem auto auto;
    font-size: 2rem;
}

.winemaking-description {
    display: flex;
    flex-direction: row;
}

.winemaking-description div {
    max-width: 300px;
}

.bottle-description {
    display: flex;
    margin: 1rem;
}

.bottle-description h2 {
    display: flex;
    align-items: flex-end;
}

.bottle-description p {
    width: 300px;
    margin: 2rem auto auto auto;
}

.wine-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 6rem;
}

.wine-rating p {
    margin: auto 3rem auto auto;
}

.navbar-selected-wine {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
  }